//Variables
$bg-color: #eeeff1;
$primary-color: #1a1b1f;
$accent-color: #8f929e;
$secondary-color: #62646d;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	color: $primary-color;
	background-color: $bg-color;
	button,
	li {
		font-family: 'Poppins', sans-serif;
		transition: opacity 0.8s ease-in-out;
	}
	button:hover,
	li:hover {
		opacity: 0.8;
	}
	.cta {
		color: #fff;
		background-color: #1a1b1f;
		padding: 16px 25px 12px;
		border-radius: 8px;
		border: 1px solid rgba(255, 255, 255, 0.18);
	}
	.container {
		width: 80%;
		margin: 0 auto;

		@media only screen and(max-width: 768px) {
			width: 100%;
			padding: 0px 20px;
		}
	}
}

//HEADER
header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	font-size: 20px;
	padding: 0px 50px;
	nav {
		ul {
			list-style: none;
			display: flex;
			align-items: center;
			gap: 20px;
			cursor: pointer;
		}
	}
}
//SECTIONS
.hero {
	margin-top: 100px;
	margin-bottom: 50px;
	h1 {
		font-size: 80px;
		line-height: 1.2;
		margin-bottom: 10px;
	}
	.heading {
		color: $secondary-color;
		font-weight: 300;
		font-size: 26px;
	}
	button {
		font-size: 16px;
		cursor: pointer;
	}
}

.work {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 80px;
	margin-bottom: 100px;

	.item {
		height: 600px;
		background-color: #1a1b1f;
		border-radius: 14px;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		display: flex;
		align-items: flex-end;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		cursor: pointer;
		transition: transform 0.5s ease-in-out;

		&:hover {
			.buttons {
				opacity: 1;
			}
			& {
				transform: scale(1.1);
			}
		}
		.buttons {
			opacity: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 20px;
			position: absolute;
			align-items: center;
			height: 100%;
			width: 100%;
			transition: opacity 0.5s ease-in-out;

			a {
				color: #fff;
				text-decoration: none;
				font-weight: 500;
				font-size: 20px;
				background-color: $primary-color;
				padding: 10px;
				border-radius: 8px;
				min-width: 150px;
				text-align: center;
			}
		}
		h3 {
			color: #fff;
			line-height: 34px;
			font-size: 28px;
		}
		.description {
			background-color: rgba(255, 255, 255, 0.25);
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			border: 1px solid rgba(255, 255, 255, 0.18);
		}
	}

	.item-1 {
		background-image: linear-gradient(
				to top,
				rgba(26, 27, 31, 1),
				rgba(26, 27, 31, 0.5) 50%,
				rgba(117, 19, 93, 0.73)
			),
			url(/assets/images/snickers.png);
	}
}

.contact {
	width: 80%;
	margin: 0 auto;
	border: 2px solid $primary-color;
	border-radius: 14px;
	padding: 80px 60px 60px;
	display: flex;

	h4 {
		font-size: 64px;
		line-height: 88px;
		flex-basis: 50%;
		margin: 0;
	}
	form {
		flex-basis: 50%;
	}
	.cta {
		margin-top: 10px;
	}
	label {
		color: $accent-color;
	}
	.row {
		display: flex;
		gap: 20px;
		width: 100%;
	}
	.input {
		display: flex;
		flex-direction: column;
		width: 100%;

		input,
		textarea {
			border: 1px solid #e4e4e4;
			border-radius: 8px;
			outline: none;
			padding: 20px;
		}
		input::placeholder,
		textarea::placeholder {
			font-family: 'Poppins', sans-serif;
			font-size: 14px;
		}
	}
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $accent-color;
	margin-top: 100px;

	ul {
		padding: 0;
		list-style: none;
		display: flex;
		gap: 20px;
		font-weight: 600;
		li {
			cursor: pointer;
		}
	}
	p {
		font-weight: 300;
	}
}
